html {
    background-color: hsl(204, 43%, 93%);
    width: 100%;
    height: 100%;
}

body {
    width : 60%;
    margin : 8% auto;
    font-family: 'Karla', sans-serif;
    
}

.first{
    box-shadow:  0px 8px 3px 14px rgba(0, 0, 0, 0.01);
    background-color: white;
    padding : 2% 7% 5% 7%;
    border-radius: 10px 10px 0px 0px;

}

h1{
    font-family: 'Karla', sans-serif;
    font-size : 18px;
    font-weight: 700;
    font-size: 18px;
    color: hsl(179, 62%, 43%);
   
    margin-top: 30px;
}

h2 {
    font-family: 'Karla', sans-serif;
    font-size : 18px;
    
    font-weight: 700;
    font-size: 16px;
    color: hsl(71, 73%, 54%);
    
    margin-top: 10px;
}

.top-text {
    font-family: 'Karla', sans-serif;
    font-size : 18px;
    margin-top: 10px;
    color: hsl(218, 22%, 67%);
    
}

#bottom {  
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: hsl(179, 62%, 43%);
}

.left {
    background-color: hsl(179, 78%, 43%);
	width:50%;
    border-bottom-left-radius:10px;
    
}

.title {
    margin-left: 40px;
    margin-top: 10px;
    color: white;
    font-weight: 700;
   
}
.price {
    margin-left: 40px;
    margin-top: 10px;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

.bottom-text {
    margin-left: 40px;
    margin-top: 10px;
    color: white;
    font-weight: 400;
}

.signup{
    background-color:hsl(71, 73%, 54%);
    font-family: 'Karla';
    text-align:center;
    padding: 1% 7% ;
    margin-left: 5%;
    margin-top: 2%;
    position: absolute;
}

.right {
    background-color: hsl(179, 62%, 56%);
	width:50%;
	border-bottom-right-radius:10px;
}

.title2{
    margin-left: 40px;
    margin-top: 10px;
    color: white;
    font-weight: 700;
}

ul {
    font-family: 'Karla';
    color: white;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 20px;
}
